/*DEVELOPER: Harusumi Takesada, IS117-001, Fall 2025 */

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 60px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5; /* フッターの背景色 */
    color: #6c757d;
}


.float-element {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}


@media (max-width: 768px) {
    .float-element {
        float: none;
        display: block;
        margin: 0 auto 15px auto;
    }
}

/* --------------------------------------------------------------------------------
   ホームページ専用スタイル
   -------------------------------------------------------------------------------- */
.hero-section {
    background-color: #e0f7fa;
    color: #004d40;
    border-radius: 15px;
    border: 2px solid #b2ebf2;
}

.hero-section h1, .hero-section p {
    color: #004d40;
}



/* readability */

body {
    font-size: 1.05rem;
    line-height: 1.6;
}




#footer {
    background-color: #f5f5f5;
    color: #6c757d;
    padding: 0 15px;
}